<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wyjson.module_user">

    <application>

        <activity
            android:name=".activity.SignInActivity"
            android:launchMode="singleTask" />

        <activity android:name=".activity.ParamActivity" />

        <activity android:name=".activity.UserInfoActivity" />

    </application>

</manifest>