<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="GoRouter"
        android:supportsRtl="true"
        android:theme="@style/Theme.GoRouter"
        tools:targetApi="33">

    </application>

</manifest>