<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>

        <activity
            android:name=".activity.SplashActivity"
            android:alwaysRetainTaskState="true"
            android:exported="true"
            android:theme="@style/Main.AppTheme.Activity.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.MainActivity"
            android:alwaysRetainTaskState="true"
            android:launchMode="singleTask" />

        <activity android:name=".activity.EventActivity" />

    </application>

</manifest>